@import url("https://fonts.googleapis.com/css2?family=Allura&family=Cinzel:wght@400..900&family=Great+Vibes&family=Monsieur+La+Doulaise&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

//* Definicion de variables y bloque de estilos generales
@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

$principalColor: rgb(215, 185, 145);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scrollbar-width: none;

  body {
    -ms-overflow-style: none;
  }

  .width-error {
    display: none;
    height: 100vh;
    justify-content: center;
    align-items: center;

    background: linear-gradient(125deg, #333, #000);

    .error-text {
      background: white;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      max-width: 400px;
      width: 90%;
      animation: fadeIn 0.5s ease-in-out;

      h1 {
        text-align: center;
        font-size: 2.5rem;
        color: #ff4757;
        margin-bottom: 10px;
      }

      p {
        text-align: center;
        font-size: 1.2rem;
        color: #333;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(0.8);
      }
      to {
        opacity: 1;
        transform: scale(1);
      }
    }
  }

  @media (min-width: 700px) {
    main {
      display: none;
    }
    .width-error {
      display: flex;
    }
  }

  section {
    @include display-flex;
    overflow: hidden;
  }
}

main {
  #Inicio {
    background-image: url("../imgs/xcaret/img2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;

    position: relative;
    justify-content: space-between;
    padding: 20px;

    @media (max-width: 465px) {
      #inicio {
        background-position: -200px center;
      }
    }

    h1 {
      font-family: Great Vibes;
      letter-spacing: 5px;
      font-size: 4rem;
      color: white;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
    }

    .myXV {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      width: 100%;
      font-family: Cinzel;
    }

    .line {
      width: 35vw;
      height: 2px;
      background: #fff;
    }

    .text {
      font-size: 1.3rem;
      font-weight: bold;
      color: #fff;
      width: 100%;
      text-align: center;
    }
  }

  #musicSec {
    gap: 20px;
    padding: 30px 0;
    background-image: url("../imgs/decoration/paper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .playMusic {
      border-top: 2px solid #000;
      @include display-flex;
      flex-direction: column;
      width: 90%;
      border: 2px solid $principalColor;
      position: relative;
      z-index: 1;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;

      figure {
        img {
          position: absolute;
          width: 150px;
          height: 200px;
          object-fit: cover;
          z-index: 1;
        }

        .img1 {
          transform: rotate(180deg);
          left: -25px;
          top: -30px;
        }

        .img2 {
          right: -25px;
          bottom: -30px;
        }
      }

      .player-container {
        @include display-flex;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        width: 320px;
        color: #000;
        z-index: 1;
      }

      .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        align-items: center;
        margin-top: 15px;
        width: 70%;
        border: 2px solid rgb(161, 138, 79);
      }

      .btn {
        border: none;
        padding: 10px;
        cursor: pointer;
        background: none;
        font-size: 1.2rem;
        background-color: transparent;
        transition: all 300ms ease;
        color: #062a35;
        width: 4rem;
        height: 4rem;
      }

      .btnStop {
        scale: 1.2;
        transform: translateY(2px);
      }
    }
  }

  #Countdown {
    background-image: url("../imgs/xcaret/img3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 80vh;
    color: #fff;

    h1,
    h2,
    h3 {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      text-align: center;
    }

    h1 {
      font-size: 3.5rem;
      font-family: Great Vibes;
      margin-bottom: 80px;
    }

    h2 {
      font-size: 2.5rem;
      font-family: Great Vibes;
      margin-top: 40px;
    }

    h3 {
      font-size: 1rem;
    }

    .countdown-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;

      .separador {
        font-size: 3.5rem;
      }

      #hours,
      #minutes {
        backdrop-filter: blur(1px);
        border-radius: 50%;
      }

      .countdown-item {
        padding: 5px;
        text-align: center;
        font-family: Cinzel;

        .countdown-number {
          font-size: 2rem;
          font-weight: bold;
        }

        .countdown-text {
          font-size: 1rem;
          opacity: 0.8;
        }
      }
    }
  }

  #Info {
    background-image: url("../imgs/decoration/paper4.png");
    background-repeat: repeat;
    background-size: cover;
    padding: 40px 25px;
    position: relative;
    color: #000;

    figure {
      img {
        position: absolute;
        width: 150px;
        height: 200px;
        object-fit: cover;
        z-index: 0;
      }

      .img1 {
        transform: rotate(180deg);
        left: -20px;
        top: -10px;
      }

      .img2 {
        transform: rotate(180deg) scaleX(-1);

        right: -20px;
        top: -10px;
      }
    }

    h1 {
      font-family: Great Vibes;
      font-size: 3rem;
      z-index: 2;
      text-align: center;
    }

    .container {
      @include display-flex;
      border: 2px solid $principalColor;
      padding: 30px 20px;
      position: relative;

      figure {
        img {
          position: absolute;
          width: 100px;
          height: 150px;
          object-fit: contain;
          z-index: 0;
        }

        .img3 {
          transform: rotate(270deg) scaleY(-1);
          right: 0;
          bottom: -25px;
        }

        .img4 {
          transform: rotate(270deg);
          left: 0;
          bottom: -25px;
        }
      }

      .text {
        font-size: 1.2rem;
        text-align: center;
        color: #000;
        width: 100%;
        margin: 25px 0;
        font-family: "Fredoka";
      }

      h2 {
        font-family: "Great Vibes";
        font-size: 2.7rem;
        text-align: center;
        margin: 40px 0 20px;
      }

      .divDate,
      .divHour,
      .divUbi {
        @include display-flex;
        gap: 10px;
        text-align: center;
      }

      svg {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }

      .day {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .mes {
        font-size: 1rem;
        font-weight: bold;
      }

      .iglesia,
      .salon {
        @include display-flex;
        gap: 15px;

        .hour {
          font-size: 1.2rem;
          font-weight: bold;
        }

        .ubi {
          font-size: 1.2rem;
          font-weight: bold;
        }

        .btn {
          background-color: transparent;
          border: 2px solid $principalColor;
          color: #000;
          padding: 10px 20px;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}

#Inicio,
  #musicSec,
  #Countdown,
  #RSVP,
  //! #Info,
  #Gallery,
  #Gifts,
  #DressCode {
  display: none;
}
